.nav {
  &__link {
    position: relative;
    color: $menu-text-color;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__list {
    margin: 0;
    margin-left:30%;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    //flex-direction: column;
    gap: 24px;

    @include on-tablet {
      top: 39px;
      left: 20%;

    }
  }

  &__item-block &__item:first-child {
    margin-bottom: 24px;
  }
}

